<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= mytitle %> </title>

    <link rel="stylesheet" href="mystyle.css">

    <style>
        input,button {
            font-size: 30px;
        }
    </style>
</head>
<body>
    <h1>
        What is user name?
    </h1>

    <form  action="/" method="post">
        <input type="text" name="userNameee">
        <br><br>
        <button>send to DB</button>
    </form>

    <h1>Your name is  <%= arr[0].userNameee %></h1>
   
</body>
</html>